.billing-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #f8f1e1;
    color: #5c4033;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(185, 127, 89, 0.8), 0 0 25px rgba(185, 127, 89, 0.6); 
    text-align: center;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.cart-total {
    text-align: right;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 20px;
}

#checkout-btn {
    display: block;
    margin: 20px auto;
    padding: 10px;
    background-color: #5c4033;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 180px;
}

.item-table{
    width: 630px;
}

.item-row-heading{
    width: 130px;
    background-color: #f8f1e1;
    color: #5c4033;
    text-align: center;
}

.item-row-data{
    width: 130px;
    background-color: #f8f1e1;
    color: #5c4033;
    text-align: center;
}

.quantity-input{
    width: 60px;
}